@model DonorProfileViewModel
@{
    ViewData["Title"] = "DonorsProfile";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="card overflow-hidden">
    <div class="row no-gutters">
        <div class="col-md-10 offset-md-1">
            <div class="card-body media align-items-center">
                <img src="~/assets/img/RW/userimage.png" alt="" class="d-block ui-w-80">
                <div class="media-body ml-4">
                    <label class="">
                        @User.Identity.Name
                    </label>
                </div>
            </div>
            <hr class="border-light m-0">
            <div class="card-body">
                <form asp-controller="Donors" asp-action="DonorProfile" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="UserId" />
                    <div class="row pl-0 pr-0">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            <label asp-for="PhoneNumber">Mobile</label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                            <div class="form-group">
                                <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="92 300 0000 111" />
                            </div>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            <label asp-for="DateOfBirth">Date Of Birth</label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                            <div class="form-group">
                                <input type="date" class="form-control" asp-for="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" placeholder="enter date of birth" />
                            </div>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            <label asp-for="Address">Address</label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                            <div class="form-group">
                                <input type="text" class="form-control" asp-for="Address" placeholder="Enter Your Address" />
                            </div>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            <label for="todonateupdate" id="todonatelabelupdate">To Donate</label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                            <div class="form-group">
                                <select asp-for="ToDonate" class="form-control">
                                    <option value="Zakat">Zakat</option>
                                    <option value="Donation">Donation</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            <label for="estimateupdate" id="estimatelabelupdate">Estimate Donation</label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                            <div class="form-group">
                                <input type="text" asp-for="Estimate" class="form-control" placeholder="Enter Your estimates" />
                            </div>
                        </div>

                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-warning mt-3">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    
}
