@model ItemDeleteViewModel
@{
    ViewData["Title"] = "DeleteItem";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row justify-content-center ">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
        <form asp-controller="Item" asp-action="DeleteItem" method="post" class="shadow-lg p-4 ">
            <input hidden asp-for="ItemId" />
            <div class="row">
                <div class="col-12">
                    <h2>Delete Item</h2>
                </div>
                <div class="col-6">
                    <span class=" float-right">
                        <i class="feather icon-trash-2 text-danger"></i>
                    </span>
                </div>
            </div>           
            <div style="padding:10px 0px 30px 0px">
                Do you want to delete <span class="text-success font-weight-bolder">"@Model.ItemName (@Model.ItemNameUrdu)" </span>?
            </div>

            <button type="submit" class="btn btn-danger mt-3 ">Delete</button>
            <a asp-controller="Item" asp-action="Index" class="btn btn-light mt-3 ">Cancel</a>
        </form>
    </div>
</div>

