@{
    ViewData["Title"] = "Home Page";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(/assets/img/RW/slider4.jpg);">
                <div class="container">
                    <div class="carousel-content animated fadeInUp">
                        <h2 class="animated zoomIn" style="animation-delay: 0.5s;">WE NEED YOU</h2>
                        <p class="animated zoomIn" style="animation-delay: 1s;">
                            We cannot do it alone, we need you!  Please step forward and help where you can.
                            The financial help from community is always something that’s very important and valuable to a foundation and that’s what we need.
                            Donate Button with Link to Donate us Position
                        </p>
                        <div class="text-center"><a href="#pricing" class="btn-get-started">Donate US</a></div>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(/assets/img/RW/slider5.jpg);">
                <div class="container">
                    <div class="carousel-content animated fadeInUp">
                        <h2 class="animated zoomIn" style="animation-delay: 0.5s;">PLAY YOUR PART TO SAVE MANKING</h2>
                        <p class="animated zoomIn" style="animation-delay: 1s;">
                            Since 2009 we are serving the deserving individuals & families for their basic needs, to get it going we wants you to become part of our team.
                            Till now we have served more than 1 Million people across Pakistan.
                        </p>

                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(/assets/img/RW/slider6.jpg);">
                <div class="container">
                    <div class="carousel-content animated fadeInUp">
                        <h2 class="animated zoomIn" style="animation-delay: 0.5s;">BECOME OUR AMBASSADOR </h2>
                        <p class="animated zoomIn" style="animation-delay: 1s;">For many years we have been doing all of these things on our own, we do encourage you to become the part of this foundation. Step forward to become the part of others happiness.</p>
                        <p class="animated zoomIn" style="animation-delay:1.2s;">Help Us Doing:</p>
                        <ul class="unstyled animated zoomIn" style="animation-delay: 1.5s;">
                            <li>Be the part of funding events</li>
                            <li>Grow the community by inviting others</li>
                            <li>Represent RW Foundation in your circle</li>
                            <li>Raise the foundation resources to donate.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url(/assets/img/RW/slider7.jpg);">
                <div class="container">
                    <div class="carousel-content animated fadeInUp">
                        <h2 class="animated zoomIn" style="animation-delay: 0.5s;">WELCOME TO RW FOUNDATION</h2>
                        <p class="animated zoomIn" style="animation-delay: 1s;">Always on its toes to feed people, give them basic life supporting commodities to get them going to be part of society.</p>

                    </div>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <!-- <div class="overlay-cta"></div> -->
        <div class="container">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3>We are Serving <span>Thousands of People</span> whole the Years</h3>
                    <p>
                        RW Foundation was established in 2009 with the goal of helping poor and needy people. Starting from 1 family to 4165 per month, i.e more than 18,000 individuals. we have achieved a lot of milestones and happiness. The basic goal of our foundation is to help and share the hand to pick up those who been fallen due to lack of resources and different causes. We want to eliminate the problems that one faces due to lack of resources that ends up in oneself doing wrong things.
                        Our moral goal is to help families who do not have the earning hands and they are facing problems even to fulfil their very basic needs. We are encouraging people (Locally & Internationally) to become the helping hands for families to be part of their happiness. Providing moral support and encouraging people to become donors to support the needy people around them is the basic goal.
                    </p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">Read More..</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>Beneficiaries</strong></h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <a href="#" title="More Details">
                        <div class="icon-box" data-aos="fade-up">
                            <div class="icon"><i class="icofont-map-pins"></i></div>
                            <h2 class="counter">8</h2>
                            <h6 class="text-dark">No of Cities</h6>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="#" title="More Details">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="icofont-users-social"></i></div>
                            <h2 class="counter">4,165</h2>
                            <h6 class="text-dark">Total Families</h6>

                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="#" title="More Details">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><i class="icofont-simple-smile"></i></div>
                            <h2 class="counter">18,365</h2>
                            <h6 class="text-dark">Happy Beneficiaries</h6>

                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="#" title="More Details">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><i class="icofont-shield"></i></div>
                            <h2 class="counter">950,237</h2>
                            <h6 class="text-dark">Overall Beneficiaries</h6>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
    <section id="plans" class="plans" data-aos="fade-up">
        <div class="container">
            <header class="section-header">
                <h3> Plans</h3>
                <p>RW Foundation has been donating a lot of goods since many years. We have been targeting the very basic need of people/families, that’s food. We have been distributing food among needy people that included Floor, Rice, Ghee, Sugar, pulses and tea etc. Our purpose is to share more and more among the people who need basics of life.</p>
            </header>

            <ul id="plans-list" class="wow fadeInUp">
                <li>
                    <div class="card card-body p-2 mt-2" data-aos="fade-up">
                        <a data-toggle="collapse" class="collapsed" href="#plan1">Shelter <i class="icofont-rounded-up"></i></a>
                        <div id="plan1" class="collapse" data-parent="#plans-list">
                            <p>
                                From last 10 years we have been donating in term of foods and our plans are to share more, we have been planning to give people a shelter. People who have been homeless are also in our watch list and we have been planning to give homeless people small homes.
                            </p>
                        </div>
                    </div>

                </li>

                <li>
                    <div class="card card-body p-2 mt-2" data-aos="fade-up">
                        <a data-toggle="collapse" href="#plan2" class="collapsed">Medicine <i class="icofont-rounded-up"></i></a>
                        <div id="plan2" class="collapse" data-parent="#plans-list">
                            <p>
                                RW Foundation is taking care of multiple families by donating them medicine, who can’t afford the basic needs. We are focused to provide the people who need medicines with proper treatments.
                            </p>
                        </div>
                    </div>

                </li>

                <li>
                    <div class="card card-body p-2 mt-2" data-aos="fade-up">
                        <a data-toggle="collapse" href="#plan3" class="collapsed">Education<i class="icofont-rounded-up"></i></a>
                        <div id="plan3" class="collapse" data-parent="#plans-list">
                            <p>
                                Education matters a lot in building a good future, RW Foundation helps kids to get education who aren’t able to afford. </strong></h4>

                            </p>
                        </div>
                    </div>

                </li>

                <li>
                    <div class="card card-body p-2 mt-2" data-aos="fade-up">
                        <a data-toggle="collapse" href="#plan4" class="collapsed">Skilled Education<i class="icofont-rounded-up"></i></a>
                        <div id="plan4" class="collapse" data-parent="#plans-list">
                            <p>
                                Even in past we have been doing this, we stopped later due to lack of resources. But it doesn’t stop us to keep on trying it again. We have planned to provide people skilled education. These free courses will help people, to settle their own business and a source of income.</strong></h4>

                            </p>
                        </div>
                    </div>

                </li>

                <li>
                    <div class="card card-body p-2 mt-2" data-aos="fade-up">
                        <a data-toggle="collapse" href="#plan5" class="collapsed">Disaster Management <i class="icofont-rounded-up"></i></a>
                        <div id="plan5" class="collapse" data-parent="#plans-list">
                            <p>
                                We provide necessary items during any disaster in the country.
                            </p>
                        </div>
                    </div>

                </li>

                <li>
                    <div class="card card-body p-2 mt-2" data-aos="fade-up">
                        <a data-toggle="collapse" href="#plan6" class="collapsed">Re-Habituation – IGP (Income Generating Program) <i class="icofont-rounded-up"></i></a>
                        <div id="plan6" class="collapse" data-parent="#plans-list">
                            <p>
                                It’s a plan we have chalked out to teach and provide funds to individuals to catch fish for their livelihood.
                            </p>
                        </div>
                    </div>

                </li>

            </ul>

        </div>
    </section>
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2><strong>Our Gallery</strong></h2>
            </div>

            <div class="row portfolio-container" data-aos="fade-up">

                <div class="col-lg-2 col-md-4 portfolio-item filter-app">
                    <img src="assets/img/RW/gallery/g1.jpg" class="img-fluid" alt="g1">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g1.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></Office>

                    </div>
                </div>

                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g2.jpg" class="img-fluid" alt="g2">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g2.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></Purchasing>

                    </div>
                </div>

                <div class="col-lg-2 col-md-4 portfolio-item filter-app">
                    <img src="assets/img/RW/gallery/g3.jpg" class="img-fluid" alt="g3">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g3.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></Distribution>

                    </div>
                </div>

                <div class="col-lg-2 col-md-4 portfolio-item filter-card">
                    <img src="assets/img/RW/gallery/g4.jpg" class="img-fluid" alt="g4">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g4.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>

                    </div>
                </div>

                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g5.jpg" class="img-fluid" alt="g5">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g5.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>

                    </div>
                </div>

                <div class="col-lg-2 col-md-4 portfolio-item filter-app">
                    <img src="assets/img/RW/gallery/g6.jpg" class="img-fluid" alt="g6">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g6.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>

                    </div>
                </div>

                <div class="col-lg-2 col-md-4 portfolio-item filter-card">
                    <img src="assets/img/RW/gallery/g7.jpg" class="img-fluid" alt="g7">
                    <div class="portfolio-info">

                        <a href="assets/img/RW/gallery/g7.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>

                    </div>
                </div>

                <div class="col-lg-2 col-md-4 portfolio-item filter-card">
                    <img src="assets/img/RW/gallery/g8.jpg" class="img-fluid" alt="g8">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g8.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g9.jpg" class="img-fluid" alt="g9">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g9.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g10.jpg" class="img-fluid" alt="g10">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g10.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g11.jpg" class="img-fluid" alt="g11">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g11.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g12.jpg" class="img-fluid" alt="g12">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g12.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g13.jpg" class="img-fluid" alt="g13">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g13.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g14.jpg" class="img-fluid" alt="g14">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g14.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g15.jpg" class="img-fluid" alt="g15">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g15.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g16.jpg" class="img-fluid" alt="g16">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g16.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g17.jpg" class="img-fluid" alt="g17">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g17.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g18.jpg" class="img-fluid" alt="g18">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g18.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g19.jpg" class="img-fluid" alt="g19">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g19.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g20.jpg" class="img-fluid" alt="g20">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g20.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g21.jpg" class="img-fluid" alt="g21">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g21.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g22.jpg" class="img-fluid" alt="g22">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g22.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g23.jpg" class="img-fluid" alt="g23">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g23.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g24.jpg" class="img-fluid" alt="g24">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g24.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g25.jpg" class="img-fluid" alt="g25">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g25.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g26.jpg" class="img-fluid" alt="g26">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g26.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g27.jpg" class="img-fluid" alt="g27">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g27.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g28.jpg" class="img-fluid" alt="g28">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g28.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g29.jpg" class="img-fluid" alt="g29">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g29.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g30.jpg" class="img-fluid" alt="g30">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g30.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g31.jpg" class="img-fluid" alt="g31">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g31.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g32.jpg" class="img-fluid" alt="g32">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g32.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g33.jpg" class="img-fluid" alt="g33">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g33.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g34.jpg" class="img-fluid" alt="g34">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g9.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g34.jpg" class="img-fluid" alt="g35">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g35.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g36.jpg" class="img-fluid" alt="g36">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g36.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g37.jpg" class="img-fluid" alt="g37">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g37.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g38.jpg" class="img-fluid" alt="g38">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g38.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g39.jpg" class="img-fluid" alt="g39">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g39.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g40.jpg" class="img-fluid" alt="g40">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g40.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g41.jpg" class="img-fluid" alt="g41">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g41.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g42.jpg" class="img-fluid" alt="g42">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g42.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g43.jpg" class="img-fluid" alt="g43">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g43.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g44.jpg" class="img-fluid" alt="g44">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g44.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                    <img src="assets/img/RW/gallery/g45.jpg" class="img-fluid" alt="g45">
                    <div class="portfolio-info">
                        <a href="assets/img/RW/gallery/g45.jpg" data-gall="portfolioGallery" class="venobox preview-link"><i class="bx bx-plus"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section id="pricing" class="pricing">
        <div class="container">
            <div class="section-title" data-aos="fade-left">
                <h2><strong>DONATE US</strong></h2>
                <p>"And they feed, for the love of Allah, the indigent, the orphan, and the captive (76:8)"</p>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="box" data-aos="fade-right">
                        <h3>TO SUPPORT A FAMILY</h3>
                        <p>Avg. Cost for a Package	</p>
                        <table class="table">
                            <thead class="text-white" style="background-color: #f8be14;">
                                <tr>
                                    <th>PKR</th>
                                    <th>SR</th>
                                    <th>USD</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>4100</td>
                                    <td>100</td>
                                    <td>25</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>“Your donation can save thousands of lives”</p>
                        <h3>“We also accept goods instead of money”</h3>
                        <h6>We also accept below mentioned Commodities</h6>
                        <div class="row">
                            <div class="col-4"><i class="icofont-disc mr-2"></i>Flour</div>
                            <div class="col-2"><i class="icofont-disc mr-2"></i>Rice</div>
                            <div class="col-6"><i class="icofont-disc mr-2"></i>Oil / <br />Ghee</div>
                            <div class="col-4"><i class="icofont-disc mr-2"></i>Sugar</div>
                            <div class="col-2"><i class="icofont-disc mr-2"></i>Daal</div>
                            <div class="col-6"><i class="icofont-disc mr-2"></i>Tea etc.</div>                           
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                    <div class="box featured" data-aos="fade-up">
                        <h5 class="text-white">For Donations(Account Details)</h5>
                        <table class="table text-white" style="text-align: start;">
                            <tbody>
                                <tr class="row">
                                    <td class="col-4">A/C Name:</td>
                                    <td class="col-8">Rehmat Wali Foundation</td>
                                </tr>
                                <tr class="row">
                                    <td class="col-4">A/C No:</td>
                                    <td class="col-8">0010053563030015</td>
                                </tr>
                                <tr class="row">
                                    <td class="col-4">IBAN:</td>
                                    <td class="col-8">PK39ABPA0010053563030015</td>
                                </tr>
                                <tr class="row">
                                    <td class="col-4">SWIFT Code:</td>
                                    <td class="col-8">ABPAPKKA</td>
                                </tr>
                                <tr class="row">
                                    <td class="col-4">Bank Name:</td>
                                    <td class="col-8">Allied Bank Limited</td>
                                </tr>
                                <tr class="row">
                                    <td class="col-4">Branch Name:</td>
                                    <td class="col-8">Shadman Colony New Market Shadman, Lahore Pakistan </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                    <div class="box" data-aos="fade-left">                        
                        <div class="appointment-wrap align-items-center">
                            <h3 class="text-warning font-weight-bolder text-center text-uppercase"><i class="icofont-money-bag mr-1"></i>Donate Money</h3>
                            <form action="#" class="appointment-form">
                                <h3 class="text-warning">Personal Information</h3>
                                <div class="alert alert-warning alert-dismissible fade show d-none" id="feedback" role="alert">
                                    <strong>Thank you!</strong> so much for your donation.We will contact you back shortly.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="row p-0">
                                    <div class="col-lg-6 form-group">
                                        <div class="input-wrap">
                                            <div class="icon"><span class="icofont-user"></span></div>
                                            <input type="text" id="firstnamedonate" class="form-control" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <div class="input-wrap">
                                            <div class="icon"><span class="icofont-user"></span></div>
                                            <input type="text" id="lastnamedonate" class="form-control" placeholder="Last Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-group">
                                        <div class="input-wrap">
                                            <div class="icon"><span class="icofont-email"></span></div>
                                            <input type="email" id="emaildonate" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-group">
                                        <div class="input-wrap">
                                            <div class="icon"><span class="icofont-mobile-phone"></span></div>
                                            <input type="text" id="phonedonate" class="form-control" placeholder="92 300 0000000">
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <h6 class="text-center font-weight-bold pb-1">Donation Amount</h6>
                                </div>
                                <div class="">
                                    <div class="form-group">
                                        <div class="input-wrap">
                                            <div class="icon"><span class="icofont-dollar"></span></div>
                                            <input type="number" id="donationAmount" class="form-control" value="5000">
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <button type="button" onclick="SendDonations()" class="btn btn-warning text-white">
                                        <span class="spinner-border spinner-border-sm d-none " id="loading" role="status" aria-hidden="true"></span>
                                        <span class="sr-only">Loading...</span>Make Donation
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="about-us" class="about-us">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>ABOUT US</strong></h2>
            </div>
            <div class="row no-gutters">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right"></div>
                <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                    <div class="content d-flex flex-column justify-content-center">
                        <h3 data-aos="fade-up">OBJECTIVES</h3>
                        <p data-aos="fade-up">
                            We provide basic food items (Rashan راشن) on monthly basis to:
                        </p>
                        <div class="row">
                            <div class="col-md-6 icon-box" data-aos="fade-up">
                                <i class="bx bx-receipt"></i>
                                <h4>Widows/Divorcees</h4>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Orphans</h4>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                <i class="bx bx-images"></i>
                                <h4>Old aged people (Abandoned- having no source of income)</h4>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                <i class="bx bx-shield"></i>
                                <h4>Disabled persons (who  can not work)</h4>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                <i class="bx bx-receipt"></i>
                                <h4>Permanent patients</h4>
                            </div>
                            <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="300">
                                <p>* All above must not have son/sons above 16 years</p>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section>
    <div class="map-section">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>CONTACT US</strong></h2>
            </div>
        </div>

    </div>

    <section id="contact" class="contact">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">

                <div class="col-lg-10">

                    <div class="info-wrap">
                        <div class="row">
                            <div class="col-lg-4 info">
                                <i class="icofont-google-map"></i>
                                <h4>Location:</h4>
                                <p>
                                    7/2 C, Sikandar Malhi Road, <br>
                                    Canal Park, Gulberg 2<br>
                                    Lahore, Pakistan
                                </p>
                            </div>

                            <div class="col-lg-4 info mt-4 mt-lg-0">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@rwfoundation.org</p>
                            </div>

                            <div class="col-lg-4 info mt-4 mt-lg-0">
                                <i class="icofont-phone"></i>
                                <h4>Call:</h4>
                                <p>+92 42 38914242</p>
                                <p>+92  333 4236533</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row mt-5 justify-content-center" data-aos="fade-up">
                <div class="col-lg-10">
                    <div class="card card-body shadow">
                        <div class="wrap-contact100">
                            <span class="d-none text-warning" id="feedback">Thanks!!! For Your Feedback We Will Contact You Soon...</span>
                            <form action="" class="contact100-form validate-form" method="POST">

                                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
                                    <input class="input100" type="text" id="namevalue" name="name" placeholder="Enter your name">
                                </div>

                                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                    <input class="input100" type="text" id="emailvalue" name="email" placeholder="Enter your email">
                                </div>

                                <div class="wrap-input100">
                                    <input class="input100" type="text" id="subjectvalue" name="subject" placeholder="Subject">
                                </div>

                                <div class="wrap-input100 validate-input" data-validate="Message is required">
                                    <textarea class="input100" id="messagevalue" name="message" placeholder="Your message here..."></textarea>
                                </div>
                                <div class="container-contact100-form-btn">
                                    <div class="wrap-contact100-form-btn">
                                        <div class="contact100-form-bgbtn"></div>
                                        <button class="contact100-form-btn" type="button" onclick="sendMessage()">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>

</main>
